---
/**
 * @usage
 * import Nav from "@components/Nav";
 * <Nav />
 */

import { nav } from "@data/nav";
---

<nav>
    <a href="/">Home</a>
  <ul>
    {
      nav.map((item) => (
        <li>
          <a href={item.slug}>
            {item.name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
